{{- if .Values.stac.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pcstac.fullname" . }}
  labels:
    {{- include "pcstac.labels" . | nindent 4 }}
spec:
  {{- if not .Values.stac.deploy.autoscaling.enabled }}
  replicas: {{ .Values.stac.deploy.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "pcstac.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.stac.deploy.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "pcstac.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.stac.deploy.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pcstac.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.stac.deploy.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.stac.deploy.securityContext | nindent 12 }}
          image: "{{ .Values.stac.image.repository }}:{{ .Values.stac.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.stac.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: APP_ROOT_PATH
              value: "{{ .Values.stac.appRootPath }}"
            - name: APP_HOST
              value: "{{ .Values.stac.host }}"
            - name: APP_PORT
              value: "{{ .Values.stac.port }}"
            - name: FORWARDED_ALLOW_IPS
              value: "*"
            - name: "WEB_CONCURRENCY"
              value: "{{ .Values.stac.server.webConcurrency }}"
            - name: DB_MIN_CONN_SIZE
              value: "{{ .Values.stac.server.minDbConnections }}"
            - name: DB_MAX_CONN_SIZE
              value: "{{ .Values.stac.server.maxDbConnections }}"
            - name: USE_API_HYDRATE
              value: "{{ .Values.stac.server.useApiHydrate }}"
            - name: REQUEST_TIMEOUT
              value: "{{ .Values.stac.server.request_timeout}}"
            - name: TILER_HREF
              value: "{{ .Values.stac.tiler_href }}"
            - name: POSTGRES_USER
              value: "{{ .Values.postgres.user }}"
            - name: POSTGRES_PASS
              value: "{{ .Values.postgres.password }}"
            - name: POSTGRES_DBNAME
              value: "{{ .Values.postgres.dbName }}"
            - name: POSTGRES_PORT
              value: "{{ .Values.postgres.port }}"
            - name: POSTGRES_HOST_READER
              value: "{{ .Values.postgres.serverName }}"
            - name: POSTGRES_HOST_WRITER
              value: "{{ .Values.postgres.serverName }}"
            - name: PGUSER
              value: "{{ .Values.postgres.user }}"
            - name: PGPASSWORD
              value: "{{ .Values.postgres.password }}"
            - name: PGDATABASE
              value: "{{ .Values.postgres.dbName }}"
            - name: PGPORT
              value: "{{ .Values.postgres.port }}"
            - name: PGHOST
              value: "{{ .Values.postgres.serverName }}"
            - name: ENVIRONMENT
              value: "{{ .Values.environment }}"
            - name: "PGSSLMODE"
              value: "require"
            - name: "PCAPIS_DEBUG"
              value: "{{ .Values.stac.debug }}"
            - name: "PCAPIS_COLLECTION_CONFIG__ACCOUNT_NAME"
              value: "{{ .Values.storage.account_name }}"
            - name: "PCAPIS_COLLECTION_CONFIG__ACCOUNT_KEY"
              value: "{{ .Values.storage.account_key }}"
            - name: "PCAPIS_COLLECTION_CONFIG__TABLE_NAME"
              value: "{{ .Values.storage.collection_config_table_name }}"
            - name: "PCAPIS_CONTAINER_CONFIG__ACCOUNT_NAME"
              value: "{{ .Values.storage.account_name }}"
            - name: "PCAPIS_CONTAINER_CONFIG__ACCOUNT_KEY"
              value: "{{ .Values.storage.account_key }}"
            - name: "PCAPIS_CONTAINER_CONFIG__TABLE_NAME"
              value: "{{ .Values.storage.container_config_table_name }}"
            - name: "PCAPIS_IP_EXCEPTION_CONFIG__ACCOUNT_NAME"
              value: "{{ .Values.storage.account_name }}"
            - name: "PCAPIS_IP_EXCEPTION_CONFIG__ACCOUNT_KEY"
              value: "{{ .Values.storage.account_key }}"
            - name: "PCAPIS_IP_EXCEPTION_CONFIG__TABLE_NAME"
              value: "{{ .Values.storage.ip_exception_config_table_name }}"
            - name: "PCAPIS_REDIS_HOSTNAME"
              value: "{{ .Values.redis.host }}"
            - name: "PCAPIS_REDIS_PASSWORD"
              value: "{{ .Values.redis.password }}"
            - name: "PCAPIS_REDIS_PORT"
              value: "{{ .Values.redis.port }}"
            - name: "PCAPIS_REDIS_SSL"
              value: "{{ .Values.redis.ssl }}"
            - name: "PCAPIS_REDIS_TTL"
              value: "{{ .Values.redis.ttl }}"
            - name: "PCAPIS_RATE_LIMITS__COLLECTIONS"
              value: "{{ .Values.stac.rate_limit.collections }}"
            - name: "PCAPIS_RATE_LIMITS__COLLECTION"
              value: "{{ .Values.stac.rate_limit.collection }}"
            - name: "PCAPIS_RATE_LIMITS__ITEMS"
              value: "{{ .Values.stac.rate_limit.items }}"
            - name: "PCAPIS_RATE_LIMITS__ITEM"
              value: "{{ .Values.stac.rate_limit.item }}"
            - name: "PCAPIS_RATE_LIMITS__SEARCH"
              value: "{{ .Values.stac.rate_limit.search }}"
            - name: "PCAPIS_BACK_PRESSURES__COLLECTIONS__REQ_PER_SEC"
              value: "{{ .Values.stac.back_pressure.collections.req_per_sec }}"
            - name: "PCAPIS_BACK_PRESSURES__COLLECTIONS__INC_MS"
              value: "{{ .Values.stac.back_pressure.collections.inc_ms }}"
            - name: "PCAPIS_BACK_PRESSURES__COLLECTION__REQ_PER_SEC"
              value: "{{ .Values.stac.back_pressure.collection.req_per_sec }}"
            - name: "PCAPIS_BACK_PRESSURES__COLLECTION__INC_MS"
              value: "{{ .Values.stac.back_pressure.collection.inc_ms }}"
            - name: "PCAPIS_BACK_PRESSURES__ITEMS__REQ_PER_SEC"
              value: "{{ .Values.stac.back_pressure.items.req_per_sec }}"
            - name: "PCAPIS_BACK_PRESSURES__ITEMS__INC_MS"
              value: "{{ .Values.stac.back_pressure.items.inc_ms }}"
            - name: "PCAPIS_BACK_PRESSURES__ITEM__REQ_PER_SEC"
              value: "{{ .Values.stac.back_pressure.item.req_per_sec }}"
            - name: "PCAPIS_BACK_PRESSURES__ITEM__INC_MS"
              value: "{{ .Values.stac.back_pressure.item.inc_ms }}"
            - name: "PCAPIS_BACK_PRESSURES__SEARCH__REQ_PER_SEC"
              value: "{{ .Values.stac.back_pressure.search.req_per_sec }}"
            - name: "PCAPIS_BACK_PRESSURES__SEARCH__INC_MS"
              value: "{{ .Values.stac.back_pressure.search.inc_ms }}"
            - name: "PCAPIS_TABLE_VALUE_TTL"
              value: "{{ .Values.storage.table_value_ttl }}"
            - name: APP_INSIGHTS_INSTRUMENTATION_KEY
              value: "{{ .Values.metrics.instrumentationKey }}"

          livenessProbe:
            httpGet:
              path: "/_mgmt/ping"
              port: http
          readinessProbe:
            httpGet:
              path: "/_mgmt/ping"
              port: http
          resources:
            {{- toYaml .Values.stac.deploy.resources | nindent 12 }}
      {{- with .Values.stac.deploy.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stac.deploy.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stac.deploy.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
