uvicorn[standard]==0.13.3
uvloop==0.14.0
gunicorn==20.1.0

orjson==3.5.2
cachetools==4.2.1

packaging==20.8
stac-fastapi.types==2.1.0
stac-fastapi.api==2.1.0
stac-fastapi.extensions==2.1.0
stac-fastapi.pgstac==2.1.0
fastapi==0.67.*
opencensus-ext-azure==1.0.8
opencensus-ext-logging==0.1.0
pypgstac==0.3.4

pystac==1.*
