name: Planetary Computer APIs PR CI

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Get Previous tag'
        id: most-recent-tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: TEMPORARY
        run: echo (${{ steps.most-recent-tag.outputs.tag }}.${{ github.run_number }})

      - name: Set Azurite Default Key
        run: echo "AZURITE_ACCOUNT_KEY=$(curl https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azurite | grep "Account key:" | cut -b 24-111)" >> $GITHUB_ENV

      - name: Verify Azurite Key was retrieved correctly
        if: "!startsWith(env.AZURITE_ACCOUNT_KEY, 'Eby8')"
        run: echo Failed to find key at learn.microsoft.com && exit 1

      - name: Run cibuild
        run: ./scripts/cibuild

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10" # stac-api-validator requires >= 3.10
          cache: "pip"

      - name: Set Azurite Default Key
        run: echo "AZURITE_ACCOUNT_KEY=$(curl https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azurite | grep "Account key:" | cut -b 24-111)" >> $GITHUB_ENV

      - name: API Validator
        run: ./scripts/validate
